<h1>Create a New Inventory Item</h1>
<br>
<%= form_tag(inventory_items_path, method: 'post') do %>
  <%= label_tag "name_id", "Name" %>
  <%= text_field_tag(:name) %><br>
  <%= label_tag "description", "Description" %>
  <%= text_field_tag(:description) %><br>
  <%= label_tag "unit_price", "Unit Price" %>
  <%= text_field_tag(:unit_price) %><br>
<% end %>
