<h1><%= @location.name %></h1>
<h1><%= @location.description %></h1>
<h1><%= @inventory_items.name %></h1>
<br>

<%= link_to 'Add Inventory', inventory_items_path %>

<%= link_to 'All locations', locations_path %>
